# environment files (if using virtualenv)
.env
.venv
venv/
__pycache__
*.pyc
.ruff_cache
.sqlfluff
.DS_Store

# DBT log files
logs/

# Secrets 
profiles.yml
.env
.user.yml

# DBT artifacts
target/
dbt_packages/

# Mac and VS Code system files
.DS_Store
.vscode/